.art__list {
    font-family: 'Architects Daughter', cursive;
    /* background-image: url(/images/art/kids-art.jpg); */
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size:cover;
    list-style: none;
    font-size: 2.4rem;
    letter-spacing: .15rem;
    margin: 0 auto;
    max-width: 720px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.art__list li {
    border: 1px solid #264653;
    border-radius: 50px;
    color: #fffffc;
    margin: 1.5rem;
    padding: 1.5rem;
    max-width: 500px;
}

.art__list_asianArtsList {
    background-color: red;
}

.art__list_paintingsList {
    background-color: green;
}

.art__list_printsList {
    background-color: blue;
}

.art__list li:hover {
    background-color: black;
    color: #fdffb6;
    cursor: pointer;
}

.artObject__container {
	margin: 2rem auto;
	padding: 2rem;
	border-radius: 50px;
	max-width: 720px;
	text-align: center;
	letter-spacing: 0.015rem;
	background-color: cadetblue;
}

.artObject {
    font-family: 'Architects Daughter', cursive;
	display: flex;
	flex-direction: column;
}

.artObject h1 {
	font-size: 2.8rem;
}

.artObject h2 {
	font-size: 2rem;
}

.artObject p {
	font-size: 1.5rem;
}

.artObject img {
	max-height: 100%;
	max-width: 100%;
}