

.art__list {
    font-family: 'Architects Daughter', cursive;
    /* background-image: url(/images/art/kids-art.jpg); */
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size:cover;
    list-style: none;
    font-size: 2.4rem;
    letter-spacing: .15rem;
    margin: 0 auto;
    max-width: 720px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.art__list li {
    border: 1px solid #264653;
    border-radius: 50px;
    color: #fffffc;
    margin: 1.5rem;
    padding: 1.5rem;
    max-width: 500px;
}

.art__list_asianArtsList {
    background-color: red;
}

.art__list_paintingsList {
    background-color: green;
}

.art__list_printsList {
    background-color: blue;
}

.art__list li:hover {
    background-color: black;
    color: #fdffb6;
    cursor: pointer;
}

.artObject__container {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
	margin: 2rem auto;
	padding: 2rem;
	border-radius: 50px;
	max-width: 600px;
    max-height:min-content;
	text-align: center;
	letter-spacing: 0.015rem;
	background-color: cadetblue;
}

.artObject {
    /* text-align: center; */
    /* justify-content: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-content: space-between ; */
    /* margin-top: 2rem; */
    /* font-family: 'Architects Daughter', cursive; */
}

.artObject h1 {
	font-size: 2.8rem;
}

.artObject h2 {
    /* max-width: 200px; */
	font-size: 2rem;
}

.artObjectInfo {
    border: 1px solid blue;
    z-index: 1;
    position: absolute;
    left: 35%;
    /* margin-top: 100px; */
    max-width: 350px;
    overflow: auto;
    /* top: 25%; */
    /* color: cadetblue; */
	font-size: 1.2rem;
    background-color: white;
}

.artObjectInfo p {

}

/* .artObject p:hover {
    color: black;
} */

.artObject img {
    border-radius: 10px;
    z-index: 2;
    position: relative;
	max-height: 100%;
	max-width: 100%;
}

.artObject img:hover {
    /* transition-delay: 100ms; */
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    opacity: 15%;
}

#selectedDepartment {
    text-transform: uppercase;
    border: 10px solid yellow;
}