@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");


#app {
	margin: 2em;
	padding: 1em;
}

body {
	background-color: turquoise;
	text-align: center;
}

.footer {
	margin-top: 2em;
	margin-bottom: 1em;
	background: #666;
	color: #fff;
	padding: 1em 0;
	text-align: center;
}

.nav__list {
	display: flex;
	justify-content: center;
}

.nav__list_home {
	background-color: red;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	padding: 8px;
	margin-left: 20px;
	list-style-type: none;
}

.nav__list_artList {
	background-color: orange;
	border-radius: 6px;
	color: blue;
	cursor: pointer;
	padding: 8px;
	margin-left: 20px;
	list-style-type: none;
}

.nav__list_science {
	background-color: yellow;
	border-radius: 6px;
	color: red;
	cursor: pointer;
	padding: 8px;
	margin-left: 20px;
	list-style-type: none;
}

.nav__list_history {
	background-color: lime;
	border-radius: 6px;
	color: indigo;
	cursor: pointer;
	padding: 8px;
	margin-left: 20px;
	list-style-type: none;
}

.nav__list_games {
	background-color: blue;
	border-radius: 6px;
	color: violet;
	cursor: pointer;
	padding: 8px;
	margin-left: 20px;
	list-style-type: none;
}

.nav__list_aboutUs {
	background-color: indigo;
	border-radius: 6px;
	color: yellow;
	cursor: pointer;
	padding: 8px;
	margin-left: 20px;
	list-style-type: none;
}

.nav__list_contactUs {
	background-color: violet;
	border-radius: 6px;
	color: blue;
	cursor: pointer;
	padding: 8px;
	margin-left: 20px;
	list-style-type: none;
}

.Science__title{
	font-family: Orbitron, sans-serif;
	font-size: 3.236rem;
	font-weight: bold;
}

.potd__container_explianation {
	font-family: Orbitron, sans-serif;
	font-size: 1.618rem;
	line-height: 2.5rem;
	margin: 2rem;
	padding: 2rem;

}